:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--enter: cubic-bezier(0, 0.5, 0.5, 1);
	--move: cubic-bezier(0, 0.5, 0.5, 1);
	--exit: cubic-bezier(0.5, 0, 0, 1);
}

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
	-webkit-user-drag: element;
}

.container-3d {
	position: relative;
	height: 100vh;
	z-index: 4;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}

.delta{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	pointer-events: none;
	background: linear-gradient(180deg, #242424 0%, #212121 50%, #202020 100%);
	width: clamp(120px, 50vw, 240px);
	height: clamp(120px, 50vh, 240px);
	padding: 1vw
}

#app {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.chapter {
	position: relative;
	z-index: 4;
	height: 200svh;
	width: 100vw;
	display: grid;
	place-items: center;

	--bg: rgba(0, 255, 255, 0.025);
  /* background-image:
    linear-gradient(to bottom, var(--bg) 0%, var(--bg) 15%, transparent 15%); */
  /* Adjust the stripe width */
  /* background-size: 100% 5vh; */
}


.chapter:nth-child(odd){
	--bg: rgba(255, 0, 255, 0.025);
}

.chapter h2 {
	width: 100%;
	text-align: center;
	font-size: 12vw;
	line-height: 1em;
	transition: opacity 0.5s var(--move);
	color: rgba(255, 255, 255, 0.85);
}

.chapter h1 {
	width: 100%;
	text-align: center;
	font-size: 6vw;
	line-height: 1em;
	color: rgba(255, 255, 255, 0.85);
}

.chapter .top{
	place-self: start;
}

.chapter .bottom{
	place-self: end;
}

/* html, body{
  smooth-scrolling: touch;
  width: 100vmin;
  height: 100vmin;
} */